/* ************************************** */
/* Base Styles */
/* ************************************** */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "comic sans ms",Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.75em;
}

.section {
    background: #77adeb;
    border: 1px solid black;
    position: relative;
    float: left;
    padding: 10px;
    width: 31.33%;
}

.section:nth-child(1){
    margin: 1.5% 0.75% 1.5% 1.5%;
}
.section:nth-child(2){
    margin: 1.5% 0.75% 1.5% 0.75%;
}
.section:nth-child(3){
    margin: 1.5% 1.5% 1.5% 0.75%;
}

.section > h2 {
    position: absolute;
    top: 0;
    right: 0;
    background: #ee7f7f;
    width: fit-content;
    border: 1px solid black;
    padding: 5px;
    font-size: 1.25em;
}
.section > p {
    margin-top: 45px;
    font-size: 1em;
}

/* ************************************** */
/* Media queries */
/* ************************************** */

@media (max-width : 991px) {
    .col-md-6 {
        width: 47.75%;
    }
    .section:nth-child(3) {
        clear: both;
        width: 97%;
        margin: 1.5%;

    }
    .section:nth-child(1){
        margin: 1.5% 0.75% 1.5% 1.5%;
    }
    .section:nth-child(2){
        margin: 1.5% 1.5% 1.5% 0.75%;
    }
}

@media (max-width : 767px) {
    .col-sm-12 {
        width: 97%;
    }
    .section:nth-child(1){
        margin: 1.5%;
    }
    .section:nth-child(2){
        margin: 1.5%;
    }
    .section:nth-child(3){
        margin: 1.5%;
    }
}
